<div class="wrapper">
    <div class="container">
        <div>
            <p>TEMPLATE DRIVEN</p>
        </div>
        <h1>Welcome</h1>
        <!-- ① using ngForm to link form with component -->
        <form class="form" #form="ngForm" (ngSubmit)="submit()">
            <!-- ② using ngModel to link value with component model -->
            <input
                type="email"
                placeholder="mail"
                [(ngModel)]="model.mail"
                name="mail"
                #mail="ngModel"
                required
                email
            />
            <input
                type="password"
                placeholder="password"
                [(ngModel)]="model.password"
                name="password"
                #password="ngModel"
                required
            />
            <button class="button" type="submit" id="login-button">
                Login
            </button>
            <br />
            <button
                class="button fill-button mail"
                type="button"
                id="fill-mail-button"
                (click)="fillMail()"
            >
                Fill Mail
            </button>
            <button
                class="button fill-button password"
                type="button"
                id="fill-password-button"
                (click)="fillPassword()"
            >
                Fill Password
            </button>
            <br />
            <br />
            <br />
            <button
                class="button delete"
                type="button"
                id="delete-button"
                (click)="deleteValue()"
            >
                DELETE
            </button>
        </form>
        <p class="alert alert-danger" *ngIf="emailInvalid">
            MAIL FORM: INVALID
        </p>
        <p class="alert alert-danger" *ngIf="emailPatternInvalid">
            MAIL FORM PATTERN: INVALID
        </p>
        <p class="alert alert-danger" *ngIf="passwordInvalid">
            PASSWORD FORM: INVALID
        </p>
        <p>Form Status: {{ form.status }}</p>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
