<div class="wrapper">
    <div class="container">
        <div>
            <p>REACTIVE</p>
        </div>
        <h1>Welcome</h1>
        <!-- ① using formGroup to link form with component -->
        <form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
            <!-- ② using formControlName to link form with component's attribute -->
            <input
                type="email"
                placeholder="mail"
                formControlName="mail"
                required
            />
            <input
                type="password"
                placeholder="Password"
                formControlName="password"
                required
            />
            <button
                class="button"
                type="submit"
                id="login-button"
                [disabled]="!loginForm.valid"
            >
                Login
            </button>
            <br />
            <button
                class="button fill-button mail"
                type="button"
                id="fill-mail-button"
                (click)="fillMail()"
            >
                Fill Mail
            </button>
            <button
                class="button fill-button password"
                type="button"
                id="fill-password-button"
                (click)="fillPassword()"
            >
                Fill Password
            </button>
            <br />
            <br />
            <br />
            <button
                class="button delete"
                type="button"
                id="delete-button"
                (click)="deleteValue()"
            >
                DELETE
            </button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p>Form Status: {{ loginForm.status }}</p>
</div>
