<div class="wrapper">
    <div class="container">
        <div>
            <p>REACTIVE</p>
        </div>
        <h1>Welcome</h1>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
            <input type="text" placeholder="userName" formControlName="userName" />
            <input type="password" placeholder="Password" formControlName="password" />
            <button type="submit" id="login-button" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
